body{
    margin: 0;
    padding: 0;
}

.calo{
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 30% 50% 20%;
    grid-template-areas: 
    "a b"
    "c c"
    "d d";
  
}
.b{
    grid-area: b;
    background: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{ 
    grid-area: a;
    background: lightskyblue;
    display: flex;
    justify-content: start;
    
}


.c{
    grid-area: c;
    display: flex;
    background: lightgreen;
    justify-content: center;
    align-items: center;
   
}
.d{
    grid-area: d;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    color: white;
    background: violet;
    list-style-type: none;
    margin: 15px;
}
.kar{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.obr{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 20px;
    top: 50px;
}
.colorBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #fefefe;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 100px;


}
.colorBtn:hover{
    background: rgb(0, 0, 0);
}