.calo{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "a"
    "b"
    "c";
  
}
.a{ 
    grid-area: a;
    background: lightblue ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    grid-area: b;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    grid-area: c;
    display: flex;
    background: lightgreen;
    justify-content: center;
    align-items: center;
   
}